*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.foto-capa{
    margin-left: 1%;
    border: 5px rgba(149, 153, 116, 0.219) solid;
}

body{
    background-image: url(imagem/fundo.png);
}


.cabecalho{
 display: block;
 background: #dceca0;
width: 68% ;
 height: 14%;
 margin-left: 1%;

 
}

.cabecalho-links{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 4%;
    font-size: 120%;
    margin-left: -6%;
    

}

a:link{
    color: rgb(25, 82, 18);
}

a:visited{
    color: darkviolet;
}

a:hover{
    font-size: 120%;
}

.conteudo-total{
display: block;
width: 66%;
    background-color: white;
margin-left: 1%;
padding: 1%;

}

.conteudo-titulo{
    margin-left: 1%;
    color: rgb(122, 99, 99);
}
.conteudo-principal{
    padding: 1%;
    
   
}

.imagem-conteudo{
    border: 5px rgba(34, 139, 34, 0.308) solid;
}

.rodape{
    margin-left: 28%;
    padding: 1%;
}
